<div class="container-fluid">
    <div class="row mt-5 mb-4 d-flex justify-content-center">
        <span class="h2">ー　フォロワーリスト　ー</span>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-8 col-md-6 col-xl-4">
            <table class="table table-bordered">
                <% @users.each do |user| %>
                <tr>
                    <td class="align-middle text-left">
                        <%= link_to mypage_path(user.id),class: "text-dark",style: "text-decoration:none;" do %>
                        <%= image_tag user.get_profile_image(50,50),class: "rounded-circle" %>　<%= user.user_name %>
                        <% end %>
                    </td>
                    <% if current_user.id == @user.id %>
                        <td class="align-middle text-center">
                            <% if current_user.following?(user) %>
                                フォロー中
                            <% else %>
                                <%= link_to "フォローする", follow_path(user.id),method: :post,class: "btn btn-primary btn-sm" %>
                            <% end %>
                        </td>
                    <% end %>
                </tr>
                <% end %>
            </table>
        </div>
    </div>
</div>