<div class="container-fluid">
    <div class="row my-5 pt-5 d-flex justify-content-center">
        <div class="h2">ー　いいね<span class="text-danger">♥️</span>一覧　ー</div>
    </div>
    <%= render 'public/posts/posts',posts: @posts %>
</div>