<div class="container-fluid">
    <div class="row my-5 pt-5 d-flex justify-content-center">
        <div class="display-4">ー　いいね👍　ー</div>
    </div>
    <%= render 'public/posts/posts',posts: @posts %>
</div>