@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

.tabi{
    font-family: 'Prata', serif;
}

.log{
    font-family: 'Train One', cursive;
}

body{
    font-family: 'Kiwi Maru', serif;
}