<div class="container-fluid">
    <div class="row mt-5 mb-3 d-flex justify-content-center">
        <h2>ー　ユーザーリスト　ー</h2>    
    </div>
    <div class="row">
        
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-bordered table-hover">
                <tr class="table-active" align="center">
                    <th>ユーザーID</th>
                    <th>名前</th>
                    <th>メールアドレス</th>
                    <th>ステータス</th>
                </tr>
                <% @users.each do |user| %>
                <tr align="center">
                    <td><%= user.id %></td>
                    <td><%= user.full_name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.status == false ? "有効" : "停止" %></td>
                </tr>
                <% end %>
            </table>
        </div>
    </div>
</div>